*
{
    margin:0px; /* property-name : property value; */
    padding:0px;
}

header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(185, 142, 249);
    padding: 10px 30px;

    position: sticky;
    top:0;
}

.logo img{
    width: 40px;
}

header h1{
    text-align: center;
    color:rgb(140, 20, 245);
    flex: 1;
    font: 50px "Times New Roman";
    font-weight: 800;
}

.nav-bar{
    display: flex;
    gap: 40px;
    list-style-type: none;
}

.socials{
    padding-left: 30px;
    display: flex;
    gap: 30px;
}

.socials img{
    width:40px;
    height: 40px;
}


.nav-bar a{
    color:rgb(255, 255, 255);
}

.nav-bar .current{
    color: rgb(126, 54, 164);
}

a:link{
    text-decoration: none;
}

a:visited{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}



.content{
    width: 100%;
    padding-left: 30px;
    padding-bottom: 57px;
    background-image: url(iconpic/icon.png.jpg); 
    background-size: cover;
    background-position: center; 
}

.home-image{
    border-style: dotted;
    border-width: 2px;
    border-radius: 15px;
    border-color: coral;
}
/*.list-aboutme{
    list-style-type: lower-roman;
} */

footer{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: rgb(255, 255, 255);
    background-color: rgb(185, 142, 249); 
    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}